.hidden {
  display: none;
}
body {
  height: 400px;
  width: 500px;
  margin: 0 auto;
  background-color: #515152;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  position: absolute;
  font-size: 30px;
  color: rgb(246, 2, 2);
  font-size: 35px;
}
